extends ./mail-head

block content
    h1(class="text-2xl font-bold") Account Lost

    p 
        | Hi, 
        span #{username}
        | , to regain access to your account you need to click in the next link. If you have not requested an account recovery, ignore this

    a(href=`${url}`) Reset Password