*, *::after, *::before {
    transition: all .15s ease-in;
}

body {
    overflow-x:hidden;  
}
      
#app-body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('../img/body-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
 
#add-new-property, #property-card, #shadow {
    background-color: rgba(0, 0, 0, .5);
}

#property__sidebar, .shadow-body {
    background-color: rgba(0, 0, 0, .7);
}

#property__sidebar {
    bottom: 0;
    top: 0;
    right: 0;

    animation: right-to-center .5s;
}

#add-new-property:hover, #property-card:hover, #add-new-property-form {
    background-color: rgba(0, 0, 0, .8)
}

#map-location {
    z-index: 1000;
}

.fade {
    z-index: 20;
    animation: fade-in .5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes right-to-center {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

@keyframes left-to-center {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes center-to-left {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.sidebar {
    animation: left-to-center .3s;
}

.sidebar-hide {
    animation: center-to-left .3s;
}

#contact {
    z-index: 1500;
}