extends ../layouts/app

block content
    div(class="my-2.5 mx-auto py-2 container rounded-xl")
        div(id="add-new-property" class="m-2.5 p-4 shadow-2xl rounded-xl")
            div(class="md:flex text-center md:text-left justify-between items-center")
                h3(class="font-bold text-xl text-gray-300") Add New Property
                a(href="/me/create-property" class="rounded-xl shadow-2xl bg-green-600 hover:bg-green-500 hover:cursor-pointer p-2 block md:inline-block text-white") New Property

        div(class="my-5 mx-2.5 border-gray-400 border-2 overflow-auto p-2 h-96 shadow-2xl")
            if (propertiesList.length)
                each property in propertiesList
                    li
                        div(class="p-4 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4")
                            div(class="sm:w-1/4 md:w-1/6")
                                img(src=`img/server/${property.vendor}/uploads/${property.image}` alt=`Image from ${property.title}`)
                            
            else
                strong(class="text-xl text-gray-200 text-center mx-auto block") Properties List Empty