extends ../layouts/app

block content
    div(class="w-full min-h-screen mx-auto text-center flex flex-col items-center justify-evenly lg:justify-center")
        h3(class="my-5 text-8xl font-semibold text-red-400") Resource not found

        a(href="/app/index" class="w-1/4 p-4 bg-red-400 hover:bg-red-500 text-white") Back to the page