doctype html
html(lang="en")
    head
        include ../partials/head
    body(id="app-body")
        header(class="text-center mb-5 bg-gray-800")
            div(class="flex items-center container mx-auto justify-between p-2")
                div(class="flex items-center gap-2")
                    a(href="/app/index")
                        img(src="/favicon.png", alt="Icon" class="w-12")
                    span(class="text-gray-200 text-xl")
                        | Welcome,
                        |
                        a(href="/me") 
                            strong(class="text-orange-400 hover:text-orange-500") #{user.name || 'Empty'}
                div
                    a(href="/me/logout" class="p-3 bg-red-500 hover:bg-red-400 text-white rounded-xl shadow-2xl") Logout


        main(class="my-5")
            if (errors && Object.keys(errors.requestError).length)
                div(class="mx-auto py-2 bg-red-500 w-3/4 text-white text-center")
                    p(class="text-xl fade") #{errors.requestError.msg}
            if (info && Object.keys(info).length)
                div(class="mx-auto py-2 bg-green-500 w-3/4 text-white text-center")
                    p(class="text-xl fade") #{info.msg}

            h1(class="my-5 font-semibold text-4xl text-center text-gray-300") #{subtitle}
            div(class="fade")
                block content

        script(src="/js/index.js")
        block scripts